/* برای ایجاد border-left در ستون‌های مشخص شده */
/* افزایش عرض ستون دوم */
.wide-column {
  width: 100px; /* شما می‌توانید این مقدار را بر اساس نیاز تنظیم کنید */
}

/* کاهش عرض ستون هشتم */
.narrow-column {
  width: 100px; /* شما می‌توانید این مقدار را بر اساس نیاز تنظیم کنید */
}

.border-left {
    border-left: 1px solid #000; /* خط سمت چپ با ضخامت ۲px */
  }
  
  /* برای افزایش ضخامت خط زیر سطرهای مضرب ۴ */
  .thick-border-bottom {
    border-bottom: 3px solid #390ae4; /* خط زیر با ضخامت ۴px */
  }
  